DJANGO_DEBUG=True
DJANGO_SECRET_KEY=change-this-secret-key
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=viarescate_ve
DB_USER=viarescate
DB_PASSWORD=change-this-password
DB_HOST=127.0.0.1
DB_PORT=5432

REDIS_URL=redis://127.0.0.1:6379/0

TIME_ZONE=America/Caracas
LANGUAGE_CODE=es-ve
