{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}VíaRescate VE{% endblock %}</title>

    <meta
        name="description"
        content="Sistema inteligente de rutas y distribución de ayuda humanitaria en Venezuela."
    >

    <link
        rel="stylesheet"
        href="{% static 'vendor/leaflet/leaflet.css' %}"
    >

    <link rel="stylesheet" href="{% static 'css/app.css' %}">

    {% block extra_css %}{% endblock %}
</head>

<body>
    {% include "includes/navbar.html" %}

    <main id="main-content">
        {% block content %}{% endblock %}
    </main>

    {% include "includes/footer.html" %}

    <script src="{% static 'vendor/leaflet/leaflet.js' %}"></script>

    <script src="{% static 'js/app.js' %}"></script>

    {% block extra_js %}{% endblock %}
</body>
</html>
